input[type=checkbox] {
	-webkit-appearance: radio;
}

output {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid lightgray;
}

output.off {
	width: 16px;
	height: 16px;
}

output.on {
	width: 16px;
	height: 16px;
	background: lightgreen;
}

output:not( off ):not( on ) {
	padding: 2px;
}
